* {
    font-family: 'Kulim Park', sans-serif;
    touch-action: manipulation;
}
html {
    min-width: 600px;
}
.App {

}
body {
    background-size: cover;
    background-blend-mode: color-burn;
    margin: 0;
    min-height: calc(100vh - 70px);
    border: 35px inset rgba(205,92,92,0.8);
    background: linear-gradient(antiquewhite, floralwhite);
    box-shadow: 0 0 50px inset black;
}
.newBookContainer, .formContainer, .confirmDeleteContainer {
    text-align: center;
}
.newBookContainer {
    margin-bottom: 30px;
}
.formContainer .newBookContainer {
    padding: 0 50px 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.formContainer .formTitle {
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    padding: 50px;
}
.confirmDeleteContainer .formTitle {
    color: firebrick;
}
.formContainer, .confirmDeleteContainer {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    overflow: scroll;
}
.confirmDeleteWrapper {
    background-color: antiquewhite;
    text-align: center;
    padding: 30px 0;
    border-radius: 20px;
}
.formA {
    box-shadow: 0 0 5px 10px rgba(0,0,0, 0.4);;
    max-width: 500px;
    border-radius: 15px;
}
.formA .bookDetails {
    margin: auto;
    width: 25vw;
}
.confirmDeleteContainer .bookDetails {
    width: 50%;
    margin: 40px auto 0;

}
.formContainer>* {
    position: relative;
    top: 5%;
    height: fit-content;
    width: 50vw;
    text-align: center;
    background-color: antiquewhite;
    margin:auto;
}
.confirmDeleteWrapper {
    width: 35vw;
    margin: auto;
    position: relative;
    top: 5%;
    height: fit-content;
    text-align: center;
    background-color: antiquewhite;
}
.confirmDeleteWrapper>* {
    position: relative;
    height: fit-content;
    text-align: center;
    background-color: antiquewhite;
    margin:auto;
}
.formContainer .saveCancelContainer {
    padding: 35px 50px;
}
.confirmDeleteContainer .confirmDeleteButtonContainer {
    padding: 30px 30px 0;
}

.formTitle .bookDetails {
    max-width: 275px;
}
.formContainer .formWrapper {
    padding: 0 50px;
}
.formContainer input {
    height: 27px;
    width: 150px;
}
.formContainer input.invalid {
    border: solid 2px firebrick;
}
.formContainer label {
    display: inline-block;
    margin: 10px 15px;
    width: 100px;
}
.errorDiv {
    display: flex;
    width: fit-content;
    margin: 15px auto;
    padding: 10px;
    background-color: yellow;
    color: red;
    font-size: 110%;
    border: 1px dotted firebrick;
}
.newBookContainer button, .formContainer button, .confirmDeleteContainer button {
    font-size: 150%;
    margin: 15px 30px;
    background-color: lightblue;
    border-radius: 10px;
    padding: 10px;
}
button.cancelBtn, button.yesDelete {
    color: antiquewhite;
    background-color: firebrick;
    opacity: 0.7;
}
.cabinet {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 50px;
    margin: auto;
    width: calc(100vw - 190px);
    text-align: center;
    justify-content: center;
    border-radius: 15px;
    padding: 50px;
    border-top: 20px inset rgba(205,92,92,0.4);
    border-top-width: thick;
    position: relative;
    left: -6px;
}
.bookContainer {

}
.bookDetails{
    margin: 10px 20px;
    padding: 5px 15px;
    border-radius: 10px;
    min-height: 211px;
    transition: all 500ms ease-in-out;
    box-shadow: 0 0 30px black;
    z-index: 5;
    position: relative;
    cursor: pointer;
}
.bookActionContainer {
    max-width: 80%;
    margin: auto;
}
h1,h2, h3, h4, h5, h6 {
    text-align: center;
    word-wrap: break-word;
    margin-right: 5px;
    margin-left: 5px;
}
h1 {
    font-size: 400%;
    color: darkslategray;
}
h2 {
    max-height: 85px;
    overflow: auto;
}
.prefixValues {
    font-style: italic;
    font-size: 80%;
}
.bookActionContainer {
    display: flex;
    margin: auto;
    height: 40px;
    padding: 5px;
    justify-content: space-around;
    align-items: center;
}
.bookActionContainer>* {
    display: inline-block;
    width: fit-content;
}
button.modifyBook {
    padding: 0;
    height: 30px;
    border: none;
    font-size: 100%;
    opacity: 0.7;
}
.buttonText {
    font-size: 100%;
}
button.editBtn, button.readBtn {
    border-radius: 5px;
    margin: 5px;
}
button.editBtn:hover, button.readBtn:hover {
    text-decoration: underline;
}
button.editBtn {
    background-color: yellow;
    width: 30%;
}
button.readBtn {
    background-color: green;
    width: 50%;
    transition: background-color ease-in-out 500ms;
}
button.readBtn.unread {
    background-color: sandybrown;
}
button.deleteBtn {
    background: inherit;
    width: 25%;
}
button img {
    background-image: inherit;
    max-width: 27px;
    height: auto;
    margin: 0;
}
button {
    outline: none;
}
button:not(.deleteBtn) {
    box-shadow: 0 0 7px black;
}
button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    transform: scale(1.2);
}
button.deleteBtn:hover {
    box-shadow: none;
}
button:after {
    outline: inset grey 2px;
}
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar
{
    width: 5px;
    height: 1px;
    background-color: darkslategray;
}
::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #D62929;
}

@media only screen and (max-width: 980px) {
    body {
        font-size: 175%;
        min-width: 600px;
    }
    .formA .bookDetails {
        width: 40vw;
    }
    .formContainer>* {
        width: 80vw;
    }
    .formTitle .bookDetails {
        max-width: 350px;
    }
    label {
        font-size: 130%;
        font-weight: bold;
        width: 150px;
    }
    input {
        font-size: 120%;
    }
    h1 {
        font-size: 300%;
    }
    h2 {
        max-height: 150px;
    }
    .bookActionContainer {
        margin-top: 30px;
    }
    .confirmDeleteWrapper {
        top: 25%;
        width: 70vw;
    }
    .confirmDeleteContainer .confirmDeleteButtonContainer {
        padding: 50px 30px 0;
    }
    button.editBtn, button.readBtn, button.deleteBtn {
        font-size: 100%;
        height: 50px;
    }
    button.deleteBtn img {
        max-width: 40px;
    }
}
